body {
  background-color: black;
  color: orchid;
}
.Navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  border-bottom: 3px solid orchid;
  position: sticky;
}

@media screen and (max-width: 768px) {
  .Navbar {
    padding: 1.5rem;
  }
  .navLink {
    padding: 0.3rem;
    font-size: 0.5rem;
    display: flex;
  }
}

.navLink {
  
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  color: orchid;
  /* background-color: ; */
}

.Navbar h1 {
  color: orchid;
}
.navButton {
  padding: 1em;
  margin: 1rem;
  text-decoration: none;
}
button {
  color: white;
  background-color: orchid;
  text-decoration: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.prev,
.next {
  padding: 1em;
  border-radius: 5px;
  border: 2px solid green;
  margin: 1rem;
  /* position: fixed; */
  left: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination,
.page {
  display: flex;
  /* gap: 1rem; */
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.All {
  /* text-align: center; */
}

.intro {
  border: 2px solid black;
  color: orchid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35rem;
  padding: 2rem;
  box-shadow: rgba(249, 253, 254, 0.25) 0px 6px 12px -2px,
    rgba(246, 242, 245, 0.3) 0px 3px 7px -3px;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  padding: 2rem;
  text-align: center;
}
.ErrorPage {
  text-align: center;
  margin-top: auto;
  padding-top: 15rem;
  color: white;
  justify-content: center;
}
.error {
  padding: 1rem;
  border-radius: 1rem;
  font-size: larger;
  color: black;
  background-color: orchid;
}

.detailRepo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  padding: 2rem;
  width: auto;
  margin: 2rem;
  text-align: center;
}

.all {
  text-align: center;
}

.particulars {
  border: 2px solid black;
  color: orchid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30em;
  padding: 2rem;
  box-shadow: rgba(249, 253, 254, 0.25) 0px 6px 12px -2px,
    rgba(246, 242, 245, 0.3) 0px 3px 7px -3px;
}

.repo-details {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  margin-top: 1.6rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
}
.more {
  display: flex;
  margin: 1rem;
}

.repo-container {
  border-radius: 10px;
  padding: 1rem;
  width: auto;
  color: orchid;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(249, 253, 254, 0.25) 0px 6px 12px -2px,
    rgba(246, 242, 245, 0.3) 0px 3px 7px -3px;
}
.avatar {
  border-radius: 50%;
}
img {
  border-radius: 50%;
  height: 100%;
  width: 5rem;
  object-fit: cover;
}
.repoName {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
    width: 25rem;
  }
}